<ng-container *ngIf="player === null; else elseBlock">
    <div>
      <p><strong>Player not available</strong></p>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <div>
      <h3>Name: {{ player.firstName }} {{ player.lastName }}</h3>
      <p>Age: {{ player.age }} </p>
      <p>Parent Club: {{ player.parentClub }} </p>
      <p>Current Club: {{ player.team.name }}</p>
      <button routerLink="/players/edit/{{ player.id }}">Edit Player</button>
      <button (click)="deletePlayer()">Delete Player</button>
    </div>
  </ng-template>